.Block {
  /* padding-top: 60px; */
  padding-bottom: 60px;
  margin-top: 60px;

}

.BlockContacts {
  margin-left: 15px;
  height: 600px;
  margin-top: 30px;
  background: #008433;

  display: flex;
}

.LeftBlockContacts,
.RightBlockContacts {
  flex: 1;
  box-sizing: border-box;
}

.LeftBlockContacts {
  display: flex;
  width: 100%;
}

.Left,
.Right {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  box-sizing: border-box;
}


/* 
.FirstBlock {
  border-bottom: 3px solid rgb(255, 0, 0);
  margin-top: auto;
  margin-bottom: auto;
}
.Left{border-right: 3px solid rgb(35, 157, 1);} */

.FirstBlock,
.SecondBlock {
  flex: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;

  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;

  color: rgb(238, 238, 238);
  align-items: center;


}

.ContactsInfo {
  text-align: center;
  font-size: 22px;

}

.ContactsIMG {
  height: 80px;
  width: 80px;

}

.ContactsContent {

  font-family: Roboto;
  font-size: 24px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.ContactsContentTittle {
  font-size: 32px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.Left .FirstBlock{
  background: #018935;
}
.Right .FirstBlock{
  background: #01752d;
}
.Left .SecondBlock{
  background: #01963a;
}