.EducatorsCards {
    padding: 20px 60px;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}
.Card {
    height: 250px;
    width: 180px;
    border-radius: 8px;
    border: 2px solid #2e7d32;
    position: relative;
    overflow: hidden;
}

.Card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}
.fio {
    margin-top: 40px;
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    white-space: pre-line;
}

.EducatorOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 125, 50, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: Roboto;
    font-weight: 400;
}

.academic-title {
    position: absolute;
    bottom: 30px; /* Прижимаем к низу с отступом */
    left: 0;
    right: 0;
    color: #9effa3;
    font-size: 18px;
    margin: 0;
    line-height: 1.2;
    opacity: 0.9;
    font-style: italic;
    text-align: center;
}

/* Анимация появления */
.EducatorsCards .Card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.EducatorsCards.loaded .Card.visible {
    opacity: 1;
    transform: translateY(0);
}

.Card:hover img {
    opacity: 0;
}

.Card:hover .EducatorOverlay {
    opacity: 1;
}


@media (max-width: 768px) {
    .EducatorsCards {
        padding: 30px 2px;
        justify-content: center;
    }
}

@media (max-width: 400px) {
.EducatorsCards {
    gap: 5px;
}
}