.EducatorsCards {
    padding: 60px 80px;
    gap: 10px;
}

.Line {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    gap: 20px;
}

.Card {

    height: 250px;
    width: 180px;
    background-size: cover;

}

.Card img {
    border: 3px solid #2e7d32;
    border-radius: 8px;

    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

.fio {
    width: 100%;
    height: 100%;
    opacity: 1;
    /* transition: opacity 0.5s ease; */
    color: white;
    white-space: pre-line;
    text-align: center;
    font-size: 26px;
    padding-top: 0px;
    background: green;
    margin-top: -165px;
    padding-bottom: 70px;


}
.Active{
    box-sizing: border-box;
    background: green;
}


/*  */
@media (max-width: 768px) {
    .Line {
        grid-template-columns: repeat(2, 1fr);
    }

}
