.home {
    padding-top: 80px;
}

.VT {
    font-family: Rubik;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #006928d8;
    color: white;
    padding: 5px 5px;
    display: inline-block;
    white-space: nowrap;
}

.InfoCafedra {
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: auto;
}

.CafedraCard {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.CafedraCard>p {

    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.CafedraCard:last-child {
    margin-bottom: 0px;
}

.Stick {
    width: 3px;
    height: 55px;
    background-color: #009639;
    flex-shrink: 0;
}

.Stip {
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 700px;
    background-color: #009639;
    box-sizing: border-box;
}

/* OurGraduates */

.DivInfo {

    margin-top: 20px;
}

.FlexEnd {
    display: flex;
    justify-content: flex-end;
}

.FlexCenter {
    display: flex;
    justify-content: center;
}


.BlockTittleHome {
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
}

.TittleHome {
    font-family: Rubik;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    white-space: nowrap;
}

.OurGraduatesInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 30px;

    padding: 0 40px 30px 40px;
}

.OurGraduatesInfoIMG {
    width: 100%;
    max-width: 530px;
    height: auto;
    object-fit: contain;
    margin-right: 50px;
    margin-left: 50px;
}

.OurGraduatesInfoText {
    flex: 1;
    min-width: 300px;
}

.OurGraduatesInfoText p {
    margin-right: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    max-width: 700px;


}

.Tochka {
    border: 2px solid #009639;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0
}

.SmallTochka {
    width: 5px;
    height: 5px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: auto;
    flex-shrink: 0
}



.TochkaHistory {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    background-color: white;

}




.OurGraduatesInfoText li {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}


/* HistoryOfCafedra */
.HistoryOfCafedra {
    margin-top: 20px;

}

.FlexStart {
    display: flex;
    justify-content: flex-start;
}

.HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li {
    margin-bottom: 40px;
}

.HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li:last-child {
    margin-bottom: 0px;
}

.OurGraduatesInfoText p {
    width: 700px;
}

.StickInHistory {
    z-index: -1;
    height: 230px;
    margin-top: -237px;
    margin-left: 8px;
}

@media (max-width: 950px) {
    .CafedraCards {
        margin-bottom: 10px;
    }


    .VT {
        font-size: 4vw;
   
        padding: 0.6vw 1vw;
    }

    .InfoCafedra {
        padding-left: 5vw;
        margin-top: 2.5vw;
    }

    .CafedraCard {
        margin-bottom: 5vw;
    }

    .CafedraCard>p {
        margin-left: 2.5vw;
        font-size: 2.5vw;
    }

    .Stick {
        width: 0.4vw;
        height: 7vw;
    }

    .Stip {
        width: 90vw;
        height: 1px;


    }

    /* OurGraduates */
    .BlockTittleHome {
        padding-right: 5vw;
        padding-left: 5vw;
    }

    .TittleHome {
        font-size: 6vw;
    }

    .OurGraduatesInfo {
        padding: 0 5vw 4vw 5vw;
        margin-top: 4vw;
    }

    .OurGraduatesInfoIMG {
        max-width: 50vw;
        margin-right: 6vw;
        margin-left: 6vw;
        margin-bottom: 10px;
    }

    .OurGraduatesInfoText {
        min-width: 37.5vw;
  
    }

    .OurGraduatesInfoText p {
        font-size: 2.25vw;
 
        line-height: 2.5vw;
        max-width: 87.5vw;

    }

    .Tochka {
        border: 1px solid #009639;
        margin-top: auto;
        margin-bottom: auto;
        width: 1.9vw;
        height: 1.9vw;
        margin-right: 1.25vw;
    }

    .SmallTochka {
        width: 0.6vw;
        height: 0.6vw;
        margin-right: 1.25vw;
    }

    /* HistoryOfCafedra */
    .HistoryOfCafedra {
        margin-top: 2.5vw;
    }

    .HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li {
        margin-bottom: 5vw;
    }

    .TochkaHistory {
        margin-right: 6.25vw;
    }

    .StickInHistory {
        margin-left: 4px;
        height: 32.75vw;
        margin-top: -33.6vw;
    }


    body {
        overflow-x: hidden;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    html,
    body {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 450px) {
    .VT {
        font-size: 21px;
    }

    .CafedraCard>p {
        margin-left: 2.5vw;
        font-size: 12px;
    }

    .OurGraduatesInfoText p {
        font-size: 12px;
        line-height: 14px;
    }

    .SmallTochka {
        width: 3px;
        height: 3px;
        margin-right: 10px
    }

    .StickInHistory {
display: none;
    }
}