.home {
    padding-top: 80px;
}

.VT {
    font-family: Rubik;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #006928d8;
    color: white;
    padding: 5px 5px;
    display: inline-block;
}

.InfoCafedra {
    padding-left: 40px;
    margin-top: 20px;
    margin-bottom: auto;
}

.CafedraCard {
    /* padding-right: 10px; */
    /* background: rgb(26, 206, 35);
clip-path: inset(0px 20px 0px 0px); */
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}

.CafedraCard>p {

    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.CafedraCard:last-child {
    margin-bottom: 0px;
}

.Stick {
    width: 3px;
    height: 55px;
    background-color: #009639;
    flex-shrink: 0;
}

.Stip {
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 700px;
    background-color: #009639;
    box-sizing: border-box;
}

/* OurGraduates */

.OurGraduates {

    margin-top: 20px;
}

.OurGraduatesFlexEnd {
    display: flex;
    justify-content: flex-end;
}

.BlockTittleHome {
    box-sizing: border-box;
    padding-right: 40px;
    padding-left: 40px;
}

.TittleHome {
    font-family: Rubik;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
}

.OurGraduatesInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 30px;

    padding: 0 40px 30px 40px;
}

.OurGraduatesInfoIMG {
    width: 100%;
    max-width: 530px;
    height: auto;
    object-fit: contain;
    margin-right: 50px;
    margin-left: 50px;
}

.OurGraduatesInfoText {
    flex: 1;
    min-width: 300px;
}

.OurGraduatesInfoText p {
    margin-right: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    width: 100%;
    max-width: 700px;


}

.Tochka {
    border: 2px solid #009639;
    background-color: transparent;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0
}

.SmallTochka {
    width: 5px;
    height: 5px;
    margin-right: 10px;
    margin-top: 6px;
    margin-bottom: auto;
    flex-shrink: 0
}



.TochkaHistory {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 50px;
    background-color: white;

}




.OurGraduatesInfoText li {
    list-style-type: none;
    display: flex;
    margin-bottom: 10px;
}


/* HistoryOfCafedra */
.HistoryOfCafedra {
    margin-top: 20px;

}

.FlexStart {
    display: flex;
    justify-content: flex-start;
}

.HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li {
    margin-bottom: 40px;
}

.HistoryOfCafedra .OurGraduatesInfo .OurGraduatesInfoText li:last-child {
    margin-bottom: 0px;
}

.OurGraduatesInfoText p {
    width: 700px;
}

.StickInHistory {
    z-index: -1;
    height: 230px;
    margin-top: -237px;
    margin-left: 8px;
}