body {
  margin: 0;
  padding: 0;
}
.container-full { 
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
}
body, html, nav, div, p, ul, h1, h2, h3 {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  position: relative; 
}
.containerBg {
  background-color: rgba(0,255,85, 0.05);
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}