.NavBar {
    background-color: green;
    height: 40px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;

}

.NavBarIMG {
    margin-top: auto;
    margin-bottom: auto;
    width: 40px;
    height: 30px;
    padding-left: 170px;
}



.NavMenu {
    margin-left: 90px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

.NavMenu li {

    color: white;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-right: 45px;


}
@media (max-width: 1050px) {
    .NavBarIMG {
        padding-left: 20px;
    }

    .NavMenu {
        margin-left: 40px;
    }
    .NavMenu li {
    margin-right: 20px;
    font-size: 16px;
}
}